* {
  list-style: none;
  font-family: 'Poppins', sans-serif;
}
ul,
li {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: auto;
}
.row {
  padding-left: -15px;
  padding-right: -15px;
}
.button {
  font-family:Open Sans;
}
.button a {
  text-decoration: none;
  color: #ffffff;
  text-transform: capitalize;
  font-size: 16px;
  background: #ff9000;
  font-weight: 600;
  padding: 12px 33px;
  border-radius: 5px;
  display: inline-block;
}
.button a:hover {
  background: #1455a6;
}
header {
  background: #1455a6;
}
header .container .row {
  padding: 0 15px;
}
header .container .row .top-header {
  padding: 19px 0 18px 0;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  font-family: montserrat;
}
header .container .row .top-header .col-1 {
  margin-right: 79px;
}
header .container .row .top-header .col-1 p {
  font-size: 16px;
}
header .container .row .top-header .col-2 {
  margin-right: auto;
}
header .container .row .top-header .col-2 p {
  font-size: 16px;
}
header .container .row .top-header .col-3 a {
  color: #ffffff;
}
header .container .row .top-header .col-3 a i {
  padding-left: 16px;
}
.navigation-area {
  background: #ffffff;
}
.navigation-area .container .row {
  padding: 0 15px;
}
.navigation-area .container .row .main-header {
  display: flex;
  justify-content: space-between;
  padding: 25px 0 26px;
}
.navigation-area .container .row .main-header .logo img {
  padding-top: 12px;
  width: 86px;
}
.navigation-area .container .row .main-header nav {
  margin-left: auto;
  margin-right: 106px;
}
.navigation-area .container .row .main-header nav ul li {
  display: inline-block;
  padding-left: 25px;
  padding-top: 13px;
}
.navigation-area .container .row .main-header nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #292929;
  font-size: 14px;
  font-weight: 600;
}
.navigation-area .container .row .main-header nav ul li a:hover {
  color: #ff9000;
}
.banner-area {
  background: #d1cdcd;
  padding: 218px 0 227px;
}
.banner-area .container .row {
  padding: 0 15px;
}
.banner-area .container .row .banner-content .title h1 {
  font-size: 60px;
  max-width: 900px;
  color: #403e3e;
  font-weight: 700;
  font-family: montserrat;
  text-transform: capitalize;
  line-height: 68px;
}
.banner-area .container .row .banner-content .banner-text {
  padding: 35px 0 48px;
}
.banner-area .container .row .banner-content .banner-text p {
  font-family: montserrat;
  font-size: 24px;
  font-weight: 400;
  color: #6a6a6a;
  line-height: 1.6;
  max-width: 580px;
}
.banner-area .container .row .banner-content .button a:first-child {
  background: #1455a6;
  margin-right: 25px;
}
.banner-area .container .row .banner-content .button a:first-child:hover {
  background: #7f7979;
}
.featuare-area .container .row {
  padding: 0 15px;
}
.featuare-area .container .row .featuare-content {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.featuare-area .container .row .featuare-content .col-1 {
  position: relative;
  overflow: hidden;
}
.featuare-area .container .row .featuare-content .col-1:hover .overlay {
  top: 0;
  transition: 0.5s ease-out;
}
.featuare-area .container .row .featuare-content .col-1 img {
  width: 370px;
  height: 255px;
  margin-right: 30px;
  box-sizing: border-box;
}
.featuare-area .container .row .featuare-content .col-1 img:last-child {
  margin-right: 0;
}
.featuare-area .container .row .featuare-content .col-1 .overlay {
  position: absolute;
  left: 0;
  top: 100%;
  width: 370px;
  height: 256px;
  margin-right: 30px;
  background-color: rgba(125, 124, 124, 0.5);
  transition: .3s;
  display: block;
}
.featuare-area .container .row .featuare-content .col-1 .overlay:last-child {
  margin-right: 0;
}
.featuare-area .container .row .featuare-content .col-1 .overlay img {
  width: 35px;
  height: 35px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.featuare-area .container .row .featuare-content .col-1 .overlay p {
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 370px;
  color: #ffffff;
  background: #1455a6;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 500;
}
.featuare-area .container .row .featuare-content .col-1 .overlay:hover p {
  background: #ff9000;
}
.featuare-area .container .row .featuare-content .col-2 {
  position: relative;
  overflow: hidden;
}
.featuare-area .container .row .featuare-content .col-2:hover .overlay {
  top: 0;
  transition: 0.5s ease-out;
}
.featuare-area .container .row .featuare-content .col-2 img {
  width: 370px;
  height: 255px;
  margin-right: 30px;
  box-sizing: border-box;
}
.featuare-area .container .row .featuare-content .col-2 img:last-child {
  margin-right: 0;
}
.featuare-area .container .row .featuare-content .col-2 .overlay {
  position: absolute;
  left: 0;
  top: 100%;
  width: 370px;
  height: 256px;
  margin-right: 30px;
  background-color: rgba(125, 124, 124, 0.5);
  transition: .3s;
  display: block;
}
.featuare-area .container .row .featuare-content .col-2 .overlay:last-child {
  margin-right: 0;
}
.featuare-area .container .row .featuare-content .col-2 .overlay img {
  width: 35px;
  height: 35px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.featuare-area .container .row .featuare-content .col-2 .overlay p {
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 370px;
  color: #ffffff;
  background: #1455a6;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 500;
}
.featuare-area .container .row .featuare-content .col-2 .overlay:hover p {
  background: #ff9000;
}
.featuare-area .container .row .featuare-content .col-3 {
  position: relative;
  overflow: hidden;
}
.featuare-area .container .row .featuare-content .col-3:hover .overlay {
  top: 0;
  transition: 0.5s ease-out;
}
.featuare-area .container .row .featuare-content .col-3 img {
  width: 370px;
  height: 255px;
  margin-right: 30px;
  box-sizing: border-box;
}
.featuare-area .container .row .featuare-content .col-3 img:last-child {
  margin-right: 0;
}
.featuare-area .container .row .featuare-content .col-3 .overlay {
  position: absolute;
  left: 0;
  top: 100%;
  width: 370px;
  height: 256px;
  margin-right: 30px;
  background-color: rgba(125, 124, 124, 0.5);
  transition: .3s;
  display: block;
}
.featuare-area .container .row .featuare-content .col-3 .overlay:last-child {
  margin-right: 0;
}
.featuare-area .container .row .featuare-content .col-3 .overlay img {
  width: 35px;
  height: 35px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.featuare-area .container .row .featuare-content .col-3 .overlay p {
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 370px;
  color: #ffffff;
  background: #1455a6;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 500;
}
.featuare-area .container .row .featuare-content .col-3 .overlay:hover p {
  background: #ff9000;
}
.about-company-area .container .row {
  padding: 0 15px;
}
.about-company-area .container .row .about-company-content {
  display: flex;
  padding: 123px 0 120px;
}
.about-company-area .container .row .about-company-content .col-1 {
  margin-right: 43px;
}
.about-company-area .container .row .about-company-content .col-1 h2 {
  color: #292929;
  font-size: 40px;
  font-weight: 500;
  text-transform: capitalize;
  position: relative;
  line-height: 30px;
}
.about-company-area .container .row .about-company-content .col-1 h2::after {
  position: absolute;
  bottom: -18px;
  left: 0;
  width: 35px;
  height: 2px;
  background: #ff9000;
  content: '';
}
.about-company-area .container .row .about-company-content .col-1 h2::before {
  position: absolute;
  bottom: -21px;
  left: 0;
  width: 46px;
  height: 2px;
  background: #1455a6;
  content: '';
}
.about-company-area .container .row .about-company-content .col-1 p {
  line-height: 1.75;
  font-size: 16px;
  color: #777777;
  font-family: Open Sans;
  font-weight: 400;
  padding-top: 64px;
  width: 560px;
}
.about-company-area .container .row .about-company-content .col-1 .poem {
  padding-top: 10px;
  padding-bottom: 42px;
}
.about-company-area .container .row .about-company-content .col-2 img {
  width: 569px;
  height: 312px;
  object-fit: fill;
}
.achived-area {
  background: #1455a6;
}
.achived-area .container .row {
  padding: 0 15px;
}
.achived-area .container .row .achived-content {
  display: flex;
  justify-content: space-around;
  padding: 51px 0 70px;
}
.achived-area .container .row .achived-content .col-1 {
  color: #ffffff;
}
.achived-area .container .row .achived-content .col-1 h3 {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
}
.achived-area .container .row .achived-content .col-1 span {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
  padding-top: 4px;
  display: block;
}
.our-services-area .container .row {
  padding: 0 15px;
}
.our-services-area .container .row .our-services-content {
  padding: 120px 0;
}
.our-services-area .container .row .our-services-content .content-title h3 {
  font-size: 40px;
  color: #292929;
  font-weight: 500;
  text-transform: capitalize;
  position: relative;
  line-height: 30px;
}
.our-services-area .container .row .our-services-content .content-title h3::before {
  position: absolute;
  bottom: -21px;
  left: 0;
  width: 46px;
  height: 2px;
  background: #1455a6;
  content: '';
}
.our-services-area .container .row .our-services-content .content-title h3::after {
  position: absolute;
  bottom: -18px;
  left: 0;
  width: 35px;
  height: 2px;
  background: #ff9000;
  content: '';
}
.our-services-area .container .row .our-services-content .content-body {
  padding-top: 86px;
}
.our-services-area .container .row .our-services-content .content-body .col-1 {
  display: flex;
  justify-content: space-between;
}
.our-services-area .container .row .our-services-content .content-body .col-1 .col-content-1 {
  display: flex;
  padding: 38px 0 40px 21px;
  border: 1px solid #e5e5e5;
  margin-right: 30px;
}
.our-services-area .container .row .our-services-content .content-body .col-1 .col-content-1:last-child {
  margin-right: 0;
}
.our-services-area .container .row .our-services-content .content-body .col-1 .col-content-1 .col-content-img {
  margin-right: 20px;
}
.our-services-area .container .row .our-services-content .content-body .col-1 .col-content-1 .col-content-img img {
  width: 42px;
  height: 45px;
}
.our-services-area .container .row .our-services-content .content-body .col-1 .col-content-1 .col-content-text h4 {
  font-size: 22px;
  color: #1455a6;
  font-weight: 300;
  line-height: 15px;
  text-transform: capitalize;
}
.our-services-area .container .row .our-services-content .content-body .col-1 .col-content-1 .col-content-text p {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  line-height: 2;
  font-family: Open Sans;
  padding-top: 16px;
}
.our-services-area .container .row .our-services-content .content-body .col-1 .col-content-2 {
  display: flex;
  padding: 38px 0 40px 21px;
  border: 1px solid #e5e5e5;
  margin-right: 30px;
}
.our-services-area .container .row .our-services-content .content-body .col-1 .col-content-2:last-child {
  margin-right: 0;
}
.our-services-area .container .row .our-services-content .content-body .col-1 .col-content-2 .col-content-img {
  margin-right: 20px;
}
.our-services-area .container .row .our-services-content .content-body .col-1 .col-content-2 .col-content-img img {
  width: 42px;
  height: 45px;
}
.our-services-area .container .row .our-services-content .content-body .col-1 .col-content-2 .col-content-text h4 {
  font-size: 22px;
  color: #1455a6;
  font-weight: 300;
  line-height: 15px;
  text-transform: capitalize;
}
.our-services-area .container .row .our-services-content .content-body .col-1 .col-content-2 .col-content-text p {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  line-height: 2;
  font-family: Open Sans;
  padding-top: 16px;
}
.our-services-area .container .row .our-services-content .content-body .col-1 .col-content-3 {
  display: flex;
  padding: 38px 0 40px 21px;
  border: 1px solid #e5e5e5;
  margin-right: 30px;
}
.our-services-area .container .row .our-services-content .content-body .col-1 .col-content-3:last-child {
  margin-right: 0;
}
.our-services-area .container .row .our-services-content .content-body .col-1 .col-content-3 .col-content-img {
  margin-right: 20px;
}
.our-services-area .container .row .our-services-content .content-body .col-1 .col-content-3 .col-content-img img {
  width: 42px;
  height: 45px;
}
.our-services-area .container .row .our-services-content .content-body .col-1 .col-content-3 .col-content-text h4 {
  font-size: 22px;
  color: #1455a6;
  font-weight: 300;
  line-height: 15px;
  text-transform: capitalize;
}
.our-services-area .container .row .our-services-content .content-body .col-1 .col-content-3 .col-content-text p {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  line-height: 2;
  font-family: Open Sans;
  padding-top: 16px;
}
.our-services-area .container .row .our-services-content .content-body .col-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.our-services-area .container .row .our-services-content .content-body .col-2 .col-content-1 {
  display: flex;
  padding: 38px 0 40px 21px;
  border: 1px solid #e5e5e5;
  margin-right: 30px;
}
.our-services-area .container .row .our-services-content .content-body .col-2 .col-content-1:last-child {
  margin-right: 0;
}
.our-services-area .container .row .our-services-content .content-body .col-2 .col-content-1 .col-content-img {
  margin-right: 20px;
}
.our-services-area .container .row .our-services-content .content-body .col-2 .col-content-1 .col-content-img img {
  width: 42px;
  height: 45px;
}
.our-services-area .container .row .our-services-content .content-body .col-2 .col-content-1 .col-content-text h4 {
  font-size: 22px;
  color: #1455a6;
  font-weight: 300;
  line-height: 15px;
  text-transform: capitalize;
}
.our-services-area .container .row .our-services-content .content-body .col-2 .col-content-1 .col-content-text p {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  line-height: 2;
  font-family: Open Sans;
  padding-top: 16px;
}
.our-services-area .container .row .our-services-content .content-body .col-2 .col-content-2 {
  display: flex;
  padding: 38px 0 40px 21px;
  border: 1px solid #e5e5e5;
  margin-right: 30px;
}
.our-services-area .container .row .our-services-content .content-body .col-2 .col-content-2:last-child {
  margin-right: 0;
}
.our-services-area .container .row .our-services-content .content-body .col-2 .col-content-2 .col-content-img {
  margin-right: 20px;
}
.our-services-area .container .row .our-services-content .content-body .col-2 .col-content-2 .col-content-img img {
  width: 42px;
  height: 45px;
}
.our-services-area .container .row .our-services-content .content-body .col-2 .col-content-2 .col-content-text h4 {
  font-size: 22px;
  color: #1455a6;
  font-weight: 300;
  line-height: 15px;
  text-transform: capitalize;
}
.our-services-area .container .row .our-services-content .content-body .col-2 .col-content-2 .col-content-text p {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  line-height: 2;
  font-family: Open Sans;
  padding-top: 16px;
}
.our-services-area .container .row .our-services-content .content-body .col-2 .col-content-3 {
  display: flex;
  padding: 38px 0 40px 21px;
  border: 1px solid #e5e5e5;
  margin-right: 30px;
}
.our-services-area .container .row .our-services-content .content-body .col-2 .col-content-3:last-child {
  margin-right: 0;
}
.our-services-area .container .row .our-services-content .content-body .col-2 .col-content-3 .col-content-img {
  margin-right: 20px;
}
.our-services-area .container .row .our-services-content .content-body .col-2 .col-content-3 .col-content-img img {
  width: 42px;
  height: 45px;
}
.our-services-area .container .row .our-services-content .content-body .col-2 .col-content-3 .col-content-text h4 {
  font-size: 22px;
  color: #1455a6;
  font-weight: 300;
  line-height: 15px;
  text-transform: capitalize;
}
.our-services-area .container .row .our-services-content .content-body .col-2 .col-content-3 .col-content-text p {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  line-height: 2;
  font-family: Open Sans;
  padding-top: 16px;
}
.way-people-area {
  background: #f4f4f4;
}
.way-people-area .row .way-people-content {
  display: flex;
}
.way-people-area .row .way-people-content .col-1 {
  width: 50%;
  height: 576px;
}
.way-people-area .row .way-people-content .col-1 img {
  width: 100%;
  height: 576px;
}
.way-people-area .row .way-people-content .col-2 {
  width: 50%;
  padding-top: 54px;
}
.way-people-area .row .way-people-content .col-2 .way-people-title {
  margin-left: 100px;
}
.way-people-area .row .way-people-content .col-2 .way-people-title h3 {
  font-size: 40px;
  font-weight: 500;
  color: #292929;
  text-transform: capitalize;
}
.way-people-area .row .way-people-content .col-2 .way-people-text {
  margin-left: 100px;
}
.way-people-area .row .way-people-content .col-2 .way-people-text .col-text-1 {
  display: flex;
  padding-top: 37px;
}
.way-people-area .row .way-people-content .col-2 .way-people-text .col-text-1:first-child {
  padding-top: 46px;
}
.way-people-area .row .way-people-content .col-2 .way-people-text .col-text-1 .way-people-icon img {
  margin-right: 27px;
}
.way-people-area .row .way-people-content .col-2 .way-people-text .col-text-1 .way-pepole-icon-content h4 {
  font-size: 22px;
  line-height: 15px;
  font-weight: 500;
  color: #292929;
  padding-bottom: 22px;
  text-transform: capitalize;
}
.way-people-area .row .way-people-content .col-2 .way-people-text .col-text-1 .way-pepole-icon-content p {
  width: 405px;
  font-size: 16px;
  color: #777777;
  font-weight: 400;
  font-family: Open Sans;
  line-height: 1.75;
}
.way-people-area .row .way-people-content .col-2 .way-people-text .col-text-2 {
  display: flex;
  padding-top: 37px;
}
.way-people-area .row .way-people-content .col-2 .way-people-text .col-text-2:first-child {
  padding-top: 46px;
}
.way-people-area .row .way-people-content .col-2 .way-people-text .col-text-2 .way-people-icon img {
  margin-right: 27px;
}
.way-people-area .row .way-people-content .col-2 .way-people-text .col-text-2 .way-pepole-icon-content h4 {
  font-size: 22px;
  line-height: 15px;
  font-weight: 500;
  color: #292929;
  padding-bottom: 22px;
  text-transform: capitalize;
}
.way-people-area .row .way-people-content .col-2 .way-people-text .col-text-2 .way-pepole-icon-content p {
  width: 405px;
  font-size: 16px;
  color: #777777;
  font-weight: 400;
  font-family: Open Sans;
  line-height: 1.75;
}
.way-people-area .row .way-people-content .col-2 .way-people-text .col-text-3 {
  display: flex;
  padding-top: 37px;
}
.way-people-area .row .way-people-content .col-2 .way-people-text .col-text-3:first-child {
  padding-top: 46px;
}
.way-people-area .row .way-people-content .col-2 .way-people-text .col-text-3 .way-people-icon img {
  margin-right: 27px;
}
.way-people-area .row .way-people-content .col-2 .way-people-text .col-text-3 .way-pepole-icon-content h4 {
  font-size: 22px;
  line-height: 15px;
  font-weight: 500;
  color: #292929;
  padding-bottom: 22px;
  text-transform: capitalize;
}
.way-people-area .row .way-people-content .col-2 .way-people-text .col-text-3 .way-pepole-icon-content p {
  width: 405px;
  font-size: 16px;
  color: #777777;
  font-weight: 400;
  font-family: Open Sans;
  line-height: 1.75;
}
.asked-question-area .container .row {
  padding: 0 15px;
}
.asked-question-area .container .row .asked-question-content {
  display: flex;
  padding: 120px 0;
}
.asked-question-area .container .row .asked-question-content .content-1 {
  width: 50%;
}
.asked-question-area .container .row .asked-question-content .content-1 .content-title h2 {
  color: #292929;
  font-size: 40px;
  font-weight: 500;
  text-transform: capitalize;
  position: relative;
  line-height: 30px;
}
.asked-question-area .container .row .asked-question-content .content-1 .content-title h2::after {
  position: absolute;
  bottom: -18px;
  left: 0;
  width: 35px;
  height: 2px;
  background: #ff9000;
  content: '';
}
.asked-question-area .container .row .asked-question-content .content-1 .content-title h2::before {
  position: absolute;
  bottom: -21px;
  left: 0;
  width: 46px;
  height: 2px;
  background: #1455a6;
  content: '';
}
.asked-question-area .container .row .asked-question-content .content-1 .content-text h4 {
  padding-top: 22px;
}
.asked-question-area .container .row .asked-question-content .content-1 .content-text h4 a {
  text-decoration: none;
  color: #292929;
  font-weight: 500;
  font-size: 22px;
  line-height: 15px;
  text-transform: capitalize;
  transition: .3s;
}
.asked-question-area .container .row .asked-question-content .content-1 .content-text h4 a:hover {
  color: #ff9000;
}
.asked-question-area .container .row .asked-question-content .content-1 .content-text h4:first-child {
  padding-top: 66px;
}
.asked-question-area .container .row .asked-question-content .content-1 .content-text p {
  font-size: 16px;
  font-family: Open Sans;
  font-weight: 400;
  color: #777777;
  padding-top: 12px;
  line-height: 1.75;
  margin-right: 30px;
}
.asked-question-area .container .row .asked-question-content .content-2 {
  width: 50%;
}
.asked-question-area .container .row .asked-question-content .content-2 .form-title {
  padding-left: 51px;
}
.asked-question-area .container .row .asked-question-content .content-2 .form-title h2 {
  color: #292929;
  font-size: 40px;
  font-weight: 500;
  text-transform: capitalize;
  position: relative;
  line-height: 30px;
}
.asked-question-area .container .row .asked-question-content .content-2 .form-title h2::after {
  position: absolute;
  bottom: -18px;
  left: 0;
  width: 35px;
  height: 2px;
  background: #ff9000;
  content: '';
}
.asked-question-area .container .row .asked-question-content .content-2 .form-title h2::before {
  position: absolute;
  bottom: -21px;
  left: 0;
  width: 46px;
  height: 2px;
  background: #1455a6;
  content: '';
}
.asked-question-area .container .row .asked-question-content .content-2 form {
  padding-top: 66px;
  padding-left: 51px;
}
.asked-question-area .container .row .asked-question-content .content-2 form .input-section-1 {
  width: 100%;
}
.asked-question-area .container .row .asked-question-content .content-2 form .input-section-1 input {
  width: 235px;
  outline: none;
  padding: 10px 0 8px 18px;
  border: 1px solid #777777;
  border-radius: 3px;
  color: red;
  font-size: 16px;
  display: inline-block;
  text-transform: capitalize;
  margin-right: 19px;
  font-weight: 300;
}
.asked-question-area .container .row .asked-question-content .content-2 form .input-section-1 input:last-child {
  margin-right: 0;
}
.asked-question-area .container .row .asked-question-content .content-2 form .input-section-2 {
  width: 100%;
  padding-top: 20px;
}
.asked-question-area .container .row .asked-question-content .content-2 form .input-section-2 input {
  width: 235px;
  outline: none;
  padding: 10px 0 8px 18px;
  border: 1px solid #777777;
  border-radius: 3px;
  color: red;
  font-size: 16px;
  display: inline-block;
  text-transform: capitalize;
  margin-right: 19px;
  font-weight: 300;
}
.asked-question-area .container .row .asked-question-content .content-2 form .input-section-2 input:last-child {
  margin-right: 0;
}
.asked-question-area .container .row .asked-question-content .content-2 form .input-section-2 input[type="email"] {
  text-transform: lowercase;
}
.asked-question-area .container .row .asked-question-content .content-2 form .input-section-2 input[type="email"]::placeholder {
  text-transform: capitalize;
}
.asked-question-area .container .row .asked-question-content .content-2 form .input-section-3 {
  padding-top: 20px;
}
.asked-question-area .container .row .asked-question-content .content-2 form .input-section-3 select {
  width: 100%;
  outline: none;
  color: #777777;
  text-transform: capitalize;
  padding: 10px 0 8px 18px;
  border: 1px solid #777777;
  font-size: 16px;
  border-radius: 3px;
  background: #ffffff;
}
.asked-question-area .container .row .asked-question-content .content-2 form .input-section-3 select option {
  color: #777777;
}
.asked-question-area .container .row .asked-question-content .content-2 form .input-section-4 {
  padding-top: 20px;
}
.asked-question-area .container .row .asked-question-content .content-2 form .input-section-4 input {
  width: 96.2%;
  outline: none;
  padding: 10px 0 8px 18px;
  border: 1px solid #777777;
  border-radius: 3px;
  color: red;
  font-size: 16px;
  display: inline-block;
  text-transform: capitalize;
  font-weight: 300;
}
.asked-question-area .container .row .asked-question-content .content-2 form .button {
  padding-top: 44px;
}
.asked-question-area .container .row .asked-question-content .content-2 form .button input[type='submit'] {
  width: 177px;
  outline: none;
  border: none;
  color: #ffffff;
  text-transform: capitalize;
  font-size: 16px;
  background: #ff9000;
  font-weight: 600;
  padding: 12px 33px;
  border-radius: 5px;
  display: inline-block;
}
.asked-question-area .container .row .asked-question-content .content-2 form .button input[type='submit']:hover {
  background: #1455a6;
}
.support-area {
  background: #1455a6;
}
.support-area .container .row {
  padding: 0 15px;
}
.support-area .container .row .support-content {
  display: flex;
  padding: 49px 0 47px;
}
.support-area .container .row .support-content .support-text h4 {
  color: #ffffff;
  font-size: 36px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 26px;
}
.support-area .container .row .support-content .support-text p {
  color: #ff9000;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 18px;
  text-transform: capitalize;
  letter-spacing: .6px;
  padding-top: 15px;
}
.support-area .container .row .button {
  margin-left: auto;
  padding-top: 7px;
}
.support-area .container .row .button a:hover {
  background: green;
}
.latest-area .container .row .latest-element {
  padding: 120px 0 90px 0;
}
.latest-area .container .row .latest-element .latest-title {
  text-align: center;
}
.latest-area .container .row .latest-element .latest-title h2 {
  color: #292929;
  font-size: 40px;
  font-weight: 500;
  text-transform: capitalize;
  position: relative;
  line-height: 30px;
}
.latest-area .container .row .latest-element .latest-title h2::after {
  position: absolute;
  bottom: -18px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 35px;
  height: 2px;
  background: #ff9000;
  content: '';
}
.latest-area .container .row .latest-element .latest-title h2::before {
  position: absolute;
  bottom: -21px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 46px;
  height: 2px;
  background: #1455a6;
  content: '';
}
.latest-area .container .row .latest-element .latest-title .owl-menu ul {
  padding-top: 60px;
  padding-bottom: 54px;
}
.latest-area .container .row .latest-element .latest-title .owl-menu ul li {
  display: inline-block;
  margin-right: 47px;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 18px;
  color: #918f8f;
  text-transform: capitalize;
  cursor: pointer;
}
.latest-area .container .row .latest-element .latest-title .owl-menu ul li:hover {
  color: #ff9000;
}
.latest-area .container .row .latest-element .latest-title .owl-menu ul li:last-child {
  margin-right: 0;
}
.latest-area .container .row .latest-element .latest-body {
  display: flex;
}
.latest-area .container .row .latest-element .latest-body .latest-item-1 {
  position: relative;
  margin-right: 28px;
  margin-bottom: 28px;
  cursor: pointer;
}
.latest-area .container .row .latest-element .latest-body .latest-item-1:hover .overlay-tow {
  transition: .5s;
  visibility: visible;
}
.latest-area .container .row .latest-element .latest-body .latest-item-1:hover p {
  visibility: visible;
}
.latest-area .container .row .latest-element .latest-body .latest-item-1 .overlay-tow {
  visibility: hidden;
  position: absolute;
  bottom: 50%;
  right: 43%;
  transform: translate(-50%, -50%);
}
.latest-area .container .row .latest-element .latest-body .latest-item-1 .overlay-tow .plush {
  width: 24px;
  height: 24px;
}
.latest-area .container .row .latest-element .latest-body .latest-item-1 p {
  visibility: hidden;
  transition: 0.3s ease-out;
  color: #ffffff;
  text-transform: capitalize;
  padding: 14px 0;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #ff9000;
  margin-right: 10px;
}
.team-member .container .row {
  padding: 0 15px;
}
.team-member .container .row .team-content {
  padding: 0 0 102px 0;
}
.team-member .container .row .team-content .content-title h2 {
  color: #292929;
  font-size: 40px;
  font-weight: 500;
  text-transform: capitalize;
  position: relative;
  line-height: 30px;
}
.team-member .container .row .team-content .content-title h2::after {
  position: absolute;
  bottom: -18px;
  left: 0;
  width: 35px;
  height: 2px;
  background: #ff9000;
  content: '';
}
.team-member .container .row .team-content .content-title h2::before {
  position: absolute;
  bottom: -21px;
  left: 0;
  width: 46px;
  height: 2px;
  background: #1455a6;
  content: '';
}
.team-member .container .row .team-content .content-eliment {
  display: flex;
  padding-top: 84px;
  justify-content: space-between;
}
.team-member .container .row .team-content .content-eliment .content-eliment-1 {
  margin-right: 30px;
}
.team-member .container .row .team-content .content-eliment .content-eliment-1 img {
  width: 270px;
  height: 236px;
}
.team-member .container .row .team-content .content-eliment .content-eliment-1 img:last-child {
  width: 270px;
  height: 97px;
}
.team-member .container .row .team-content .content-eliment .content-eliment-1 h5 {
  color: #292929;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  padding-top: 9px;
}
.team-member .container .row .team-content .content-eliment .content-eliment-1 span {
  font-style: italic;
  font-family: Open Sans;
  color: #1455a6;
  font-size: 14px;
  display: block;
  padding-bottom: 19px;
}
.team-member .container .row .team-content .content-eliment .content-eliment-1 p {
  font-size: 16px;
  color: #777777;
  line-height: 1.65;
  padding-bottom: 99px;
}
.testimonial-area {
  background: #d1d2d3;
}
.testimonial-area .container-tow {
  max-width: 1420px;
  margin: auto;
}
.testimonial-area .container-tow .row {
  padding: 170px 15px;
  position: relative;
}
.testimonial-area .container-tow .row .fa-angle-left {
  position: absolute;
  top: 50%;
  left: 0;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 15px 18px 15px 20px;
  transform: translate(0, -50%);
}
.testimonial-area .container-tow .row .fa-angle-left:hover {
  color: #ff9000;
  border: 1px solid #ff9000;
}
.testimonial-area .container-tow .row .fa-angle-right {
  position: absolute;
  top: 50%;
  right: 0;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 15px 20px 15px 18px;
  transform: translate(0, -50%);
}
.testimonial-area .container-tow .row .fa-angle-right:hover {
  color: #ff9000;
  border: 1px solid #ff9000;
}
.testimonial-area .container-tow .row .testimonial-content {
  width: 770px;
  height: 376px;
  margin: auto;
  background: #ffffff;
}
.testimonial-area .container-tow .row .testimonial-content .main-content {
  display: flex;
  padding: 68px 180px 61px 61px;
}
.testimonial-area .container-tow .row .testimonial-content .main-content .img {
  margin-right: 23px;
}
.testimonial-area .container-tow .row .testimonial-content .main-content .img img {
  width: 102px;
  height: 102px;
  border-radius: 50%;
}
.testimonial-area .container-tow .row .testimonial-content .main-content .title {
  padding-top: 17px;
}
.testimonial-area .container-tow .row .testimonial-content .main-content .title h5 {
  color: #292929;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 22px;
  line-height: 15px;
  text-transform: capitalize;
}
.testimonial-area .container-tow .row .testimonial-content .main-content .title span {
  color: #777777;
  font-size: 16px;
  font-family: Open Sans;
  font-weight: 600;
  font-style: italic;
  display: block;
  padding: 6px;
}
.testimonial-area .container-tow .row .testimonial-content .main-content p {
  color: #1455a6;
  font-size: 16px;
  font-family: Open Sans;
  font-style: italic;
  line-height: 1.75;
  padding-top: 24px;
}
.testimonial-area .container-tow .row .testimonial-content .main-content .star-icon {
  padding-top: 31px;
  width: auto;
}
.testimonial-area .container-tow .row .testimonial-content .bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.leatestBlog-area .container .row .leatestBlog-element {
  padding: 119px 0 115px;
}
.leatestBlog-area .container .row .leatestBlog-element .leatestBlog-element-title {
  padding-bottom: 84px;
}
.leatestBlog-area .container .row .leatestBlog-element .leatestBlog-element-title h2 {
  color: #292929;
  font-size: 40px;
  font-weight: 500;
  text-transform: capitalize;
  position: relative;
  line-height: 30px;
}
.leatestBlog-area .container .row .leatestBlog-element .leatestBlog-element-title h2::after {
  position: absolute;
  bottom: -18px;
  left: 0;
  width: 35px;
  height: 2px;
  background: #ff9000;
  content: '';
}
.leatestBlog-area .container .row .leatestBlog-element .leatestBlog-element-title h2::before {
  position: absolute;
  bottom: -21px;
  left: 0;
  width: 46px;
  height: 2px;
  background: #1455a6;
  content: '';
}
.leatestBlog-area .container .row .leatestBlog-element .leatestBlog-element-body {
  display: flex;
}
.leatestBlog-area .container .row .leatestBlog-element .leatestBlog-element-body .leatestBlog-body-child-1 {
  width: 33.33%;
}
.leatestBlog-area .container .row .leatestBlog-element .leatestBlog-element-body .leatestBlog-body-child-1:last-child {
  margin-right: 0;
}
.leatestBlog-area .container .row .leatestBlog-element .leatestBlog-element-body .leatestBlog-body-child-1 img {
  width: 369px;
  height: 272px;
}
.leatestBlog-area .container .row .leatestBlog-element .leatestBlog-element-body .leatestBlog-body-child-1 h5 {
  font-size: 22px;
  font-weight: 500;
  color: #292929;
  text-transform: capitalize;
  padding-top: 9px;
}
.leatestBlog-area .container .row .leatestBlog-element .leatestBlog-element-body .leatestBlog-body-child-1 .date-comment span {
  color: #777777;
  font-size: 14px;
  font-weight: 500;
  font-family: Open Sans;
  text-transform: capitalize;
  padding-left: 4px;
}
.leatestBlog-area .container .row .leatestBlog-element .leatestBlog-element-body .leatestBlog-body-child-1 .date-comment span:last-child {
  margin-left: 16px;
}
.leatestBlog-area .container .row .leatestBlog-element .leatestBlog-element-body .leatestBlog-body-child-1 p {
  color: #777777;
  font-size: 16px;
  font-weight: 400;
  font-family: Open Sans;
  line-height: 1.75;
  padding: 17px 10px 16px 0;
}
.leatestBlog-area .container .row .leatestBlog-element .leatestBlog-element-body .leatestBlog-body-child-1 a {
  color: #777777;
  font-size: 16px;
  font-weight: 600;
  font-family: Open Sans;
  text-decoration: none;
  text-transform: capitalize;
}
.leatestBlog-area .container .row .leatestBlog-element .leatestBlog-element-body .leatestBlog-body-child-1 a:hover {
  color: #ff9000;
}
.leatestBlog-area .container .row .leatestBlog-element .leatestBlog-element-body .leatestBlog-body-child-2 {
  width: 33.33%;
}
.leatestBlog-area .container .row .leatestBlog-element .leatestBlog-element-body .leatestBlog-body-child-2:last-child {
  margin-right: 0;
}
.leatestBlog-area .container .row .leatestBlog-element .leatestBlog-element-body .leatestBlog-body-child-2 img {
  width: 369px;
  height: 272px;
}
.leatestBlog-area .container .row .leatestBlog-element .leatestBlog-element-body .leatestBlog-body-child-2 h5 {
  font-size: 22px;
  font-weight: 500;
  color: #292929;
  text-transform: capitalize;
  padding-top: 9px;
}
.leatestBlog-area .container .row .leatestBlog-element .leatestBlog-element-body .leatestBlog-body-child-2 .date-comment span {
  color: #777777;
  font-size: 14px;
  font-weight: 500;
  font-family: Open Sans;
  text-transform: capitalize;
  padding-left: 4px;
}
.leatestBlog-area .container .row .leatestBlog-element .leatestBlog-element-body .leatestBlog-body-child-2 .date-comment span:last-child {
  margin-left: 16px;
}
.leatestBlog-area .container .row .leatestBlog-element .leatestBlog-element-body .leatestBlog-body-child-2 p {
  color: #777777;
  font-size: 16px;
  font-weight: 400;
  font-family: Open Sans;
  line-height: 1.75;
  padding: 17px 10px 16px 0;
}
.leatestBlog-area .container .row .leatestBlog-element .leatestBlog-element-body .leatestBlog-body-child-2 a {
  color: #777777;
  font-size: 16px;
  font-weight: 600;
  font-family: Open Sans;
  text-decoration: none;
  text-transform: capitalize;
}
.leatestBlog-area .container .row .leatestBlog-element .leatestBlog-element-body .leatestBlog-body-child-2 a:hover {
  color: #ff9000;
}
.leatestBlog-area .container .row .leatestBlog-element .leatestBlog-element-body .leatestBlog-body-child-3 {
  width: 33.33%;
}
.leatestBlog-area .container .row .leatestBlog-element .leatestBlog-element-body .leatestBlog-body-child-3:last-child {
  margin-right: 0;
}
.leatestBlog-area .container .row .leatestBlog-element .leatestBlog-element-body .leatestBlog-body-child-3 img {
  width: 369px;
  height: 272px;
}
.leatestBlog-area .container .row .leatestBlog-element .leatestBlog-element-body .leatestBlog-body-child-3 h5 {
  font-size: 22px;
  font-weight: 500;
  color: #292929;
  text-transform: capitalize;
  padding-top: 9px;
}
.leatestBlog-area .container .row .leatestBlog-element .leatestBlog-element-body .leatestBlog-body-child-3 .date-comment span {
  color: #777777;
  font-size: 14px;
  font-weight: 500;
  font-family: Open Sans;
  text-transform: capitalize;
  padding-left: 4px;
}
.leatestBlog-area .container .row .leatestBlog-element .leatestBlog-element-body .leatestBlog-body-child-3 .date-comment span:last-child {
  margin-left: 16px;
}
.leatestBlog-area .container .row .leatestBlog-element .leatestBlog-element-body .leatestBlog-body-child-3 p {
  color: #777777;
  font-size: 16px;
  font-weight: 400;
  font-family: Open Sans;
  line-height: 1.75;
  padding: 17px 10px 16px 0;
}
.leatestBlog-area .container .row .leatestBlog-element .leatestBlog-element-body .leatestBlog-body-child-3 a {
  color: #777777;
  font-size: 16px;
  font-weight: 600;
  font-family: Open Sans;
  text-decoration: none;
  text-transform: capitalize;
}
.leatestBlog-area .container .row .leatestBlog-element .leatestBlog-element-body .leatestBlog-body-child-3 a:hover {
  color: #ff9000;
}
footer {
  background: #061a34;
}
footer .container .row {
  padding: 0 15px;
}
footer .container .row .footer-content {
  padding: 92px 0 90px;
}
footer .container .row .footer-content .top-footer {
  display: flex;
  color: #ffffff;
  justify-content: space-between;
}
footer .container .row .footer-content .top-footer .top-footer-section-1 {
  margin-right: 15px;
}
footer .container .row .footer-content .top-footer .top-footer-section-1 img {
  padding-top: 12px;
}
footer .container .row .footer-content .top-footer .top-footer-section-1 p {
  font-size: 16px;
  font-family: Open Sans;
  line-height: 1.75;
  letter-spacing: .6px;
  padding: 13px 0 29px;
  width: 375px;
  word-spacing: 2px;
}
footer .container .row .footer-content .top-footer .top-footer-section-1 form {
  padding-bottom: 62px;
}
footer .container .row .footer-content .top-footer .top-footer-section-1 form .input {
  display: flex;
}
footer .container .row .footer-content .top-footer .top-footer-section-1 form .input input[type="email"] {
  width: 278px;
  outline: none;
  padding: 12px 0 11px 20px;
  border: none;
  color: #0f4ea3;
  font-size: 16px;
  font-weight: 300;
}
footer .container .row .footer-content .top-footer .top-footer-section-1 form .input i {
  background: #ff9000;
  padding: 15px 27px;
  cursor: pointer;
}
footer .container .row .footer-content .top-footer .top-footer-section-1 .social-icon ul li {
  width: 38px;
  height: 38px;
  border: 1px solid #2b3c52;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  transition: .3s;
  margin-right: 13px;
}
footer .container .row .footer-content .top-footer .top-footer-section-1 .social-icon ul li:last-child {
  margin-right: 0;
}
footer .container .row .footer-content .top-footer .top-footer-section-1 .social-icon ul li:hover {
  background: #ff9000;
}
footer .container .row .footer-content .top-footer .top-footer-section-1 .social-icon ul li a {
  color: #2b3c52;
}
footer .container .row .footer-content .top-footer .top-footer-section-1 .social-icon ul li a:hover {
  color: #ffffff;
}
footer .container .row .footer-content .top-footer .top-footer-section-1 .social-icon ul li a i {
  padding-top: 11px;
}
footer .container .row .footer-content .top-footer .top-footer-section-2 h3 {
  text-transform: capitalize;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  padding-bottom: 39px;
}
footer .container .row .footer-content .top-footer .top-footer-section-2 h3:before {
  position: absolute;
  height: 2px;
  width: 40px;
  background: #ff9000;
  top: 36px;
  left: 0;
  content: '';
}
footer .container .row .footer-content .top-footer .top-footer-section-2 .post-item-1 {
  display: flex;
  padding-bottom: 23px;
}
footer .container .row .footer-content .top-footer .top-footer-section-2 .post-item-1 .post-img {
  margin-right: 19px;
}
footer .container .row .footer-content .top-footer .top-footer-section-2 .post-item-1 .post-img img {
  width: 57px;
  height: 59px;
}
footer .container .row .footer-content .top-footer .top-footer-section-2 .post-item-1 .post-text {
  text-transform: capitalize;
  font-family: Open Sans;
}
footer .container .row .footer-content .top-footer .top-footer-section-2 .post-item-1 .post-text p {
  font-size: 16px;
}
footer .container .row .footer-content .top-footer .top-footer-section-2 .post-item-1 .post-text span {
  font-size: 14px;
  padding-top: 8px;
  display: block;
}
footer .container .row .footer-content .top-footer .top-footer-section-2 .post-item-2 {
  display: flex;
  padding-bottom: 23px;
}
footer .container .row .footer-content .top-footer .top-footer-section-2 .post-item-2 .post-img {
  margin-right: 19px;
}
footer .container .row .footer-content .top-footer .top-footer-section-2 .post-item-2 .post-img img {
  width: 57px;
  height: 59px;
}
footer .container .row .footer-content .top-footer .top-footer-section-2 .post-item-2 .post-text {
  text-transform: capitalize;
  font-family: Open Sans;
}
footer .container .row .footer-content .top-footer .top-footer-section-2 .post-item-2 .post-text p {
  font-size: 16px;
}
footer .container .row .footer-content .top-footer .top-footer-section-2 .post-item-2 .post-text span {
  font-size: 14px;
  padding-top: 8px;
  display: block;
}
footer .container .row .footer-content .top-footer .top-footer-section-2 .post-item-3 {
  display: flex;
  padding-bottom: 23px;
  padding-bottom: 0;
}
footer .container .row .footer-content .top-footer .top-footer-section-2 .post-item-3 .post-img {
  margin-right: 19px;
}
footer .container .row .footer-content .top-footer .top-footer-section-2 .post-item-3 .post-img img {
  width: 57px;
  height: 59px;
}
footer .container .row .footer-content .top-footer .top-footer-section-2 .post-item-3 .post-text {
  text-transform: capitalize;
  font-family: Open Sans;
}
footer .container .row .footer-content .top-footer .top-footer-section-2 .post-item-3 .post-text p {
  font-size: 16px;
}
footer .container .row .footer-content .top-footer .top-footer-section-2 .post-item-3 .post-text span {
  font-size: 14px;
  padding-top: 8px;
  display: block;
}
footer .container .row .footer-content .top-footer .top-footer-section-3 {
  margin-right: 45px;
}
footer .container .row .footer-content .top-footer .top-footer-section-3 h3 {
  text-transform: capitalize;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  padding-bottom: 30px;
}
footer .container .row .footer-content .top-footer .top-footer-section-3 h3:before {
  position: absolute;
  height: 2px;
  width: 40px;
  background: #ff9000;
  top: 36px;
  left: 0;
  content: '';
}
footer .container .row .footer-content .top-footer .top-footer-section-3 ul {
  margin: 0;
  padding: 0;
}
footer .container .row .footer-content .top-footer .top-footer-section-3 ul li {
  padding-bottom: 16px;
  display: block;
}
footer .container .row .footer-content .top-footer .top-footer-section-3 ul li a {
  font-size: 16px;
  font-family: Open Sans;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 400;
  color: #ffffff;
}
footer .container .row .footer-content .top-footer .top-footer-section-3 ul li a:hover {
  color: #ff9000;
}
footer .container .row .footer-content .top-footer .top-footer-section-3 ul li a i {
  font-size: 16px;
}
footer .container .row .footer-content .top-footer .top-footer-section-4 h3 {
  text-transform: capitalize;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  padding-bottom: 36px;
}
footer .container .row .footer-content .top-footer .top-footer-section-4 h3:before {
  position: absolute;
  height: 2px;
  width: 40px;
  background: #ff9000;
  top: 36px;
  left: 0;
  content: '';
}
.bottom-footer {
  background: #062245;
  width: 100%;
  margin: auto;
}
.bottom-footer p {
  padding: 21px 0;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  font-family: Myriad Pro;
  text-transform: capitalize;
}
button.owl-prev span {
  font-size: 51px;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: -24%;
  line-height: 18px;
  border: 1px solid #ffffff;
  font-weight: 300;
  padding: 14px 17px 16px 19px;
  transform: translate(-24%, -50%);
}
button.owl-prev span:hover {
  border: 1px solid #ff9000;
}
button.owl-next span {
  font-size: 51px;
  color: #ffffff;
  position: absolute;
  top: 50%;
  right: -29%;
  line-height: 18px;
  border: 1px solid #ffffff;
  font-weight: 300;
  padding: 14px 17px 16px 19px;
  transform: translate(-29%, -50%);
}
button.owl-next span:hover {
  border: 1px solid #ff9000;
}
.slicknav_menu {
  display: none;
}
